<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuc_6MeSq7n30BB5DsZOppLAiFOrU3Mn4</string>
	<key>GCM_SENDER_ID</key>
	<string>717428515537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admitAi</string>
	<key>PROJECT_ID</key>
	<string>admit-ai-1badd</string>
	<key>STORAGE_BUCKET</key>
	<string>admit-ai-1badd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717428515537:ios:7dc9777ab6b7025b261bf0</string>
</dict>
</plist>